* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
input,
button,
option {
  font-family: "Montserrat", "sans-serif";
}

body {
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  color: black;
}

button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  max-height: 66px;
  font: inherit;
  padding: 16px 65px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
}

button:hover {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(32, 32, 39);
  background: #fff;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(./images/background-top.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 196px;
  padding-bottom: 156px;
  overflow: hidden;
}
.top__content {
  max-width: 769px;
  width: 100%;
  position: relative;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin-bottom: 24px;
}
.top__subtitle {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 48px;
}
.top__subtitle-mobyle {
  display: none;
}
.top__bold-word-mobyle {
  display: none;
}
.top__bold-word {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}
.top__btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  max-height: 66px;
  font: inherit;
  padding: 16px 65px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
}
.top__btn:hover {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(32, 32, 39);
  background: #fff;
}
.top__star1 {
  position: absolute;
  top: -125px;
  left: 30px;
}
.top__star2 {
  position: absolute;
  top: -100px;
  left: -70px;
}
.top__star3 {
  position: absolute;
  top: -550px;
  left: 650px;
}
.top__star31 {
  display: none;
}
.top__star4 {
  position: absolute;
  left: 800px;
}
.top__star41 {
  display: none;
}
.top__star42 {
  display: none;
}

.about-games {
  background: rgb(32, 32, 39);
  position: relative;
  overflow: hidden;
}
.about-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 94px;
  padding-bottom: 24px;
}
.about-games__subtitle {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.games-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: start;
  margin-top: 72px;
  padding-bottom: 50px;
  position: relative;
  z-index: 5;
}
.games-content__star5 {
  position: absolute;
  top: -220px;
  left: 800px;
  z-index: 1;
}
.games-content__star6 {
  position: absolute;
  top: 410px;
  left: -100px;
  z-index: 1;
}
.games-content__star7 {
  position: absolute;
  top: 460px;
  left: -90px;
  z-index: 1;
}

.game {
  background-color: rgb(247, 247, 247);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 378px;
  min-height: 473px;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  z-index: 5;
}
.game__img {
  height: 314px;
}
.game__number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  padding-top: 40px;
  padding-left: 48px;
}
.game__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  padding-top: 26px;
  padding-bottom: 36px;
  padding-left: 32px;
  height: auto;
}

.quiz {
  margin-top: 40px;
}

.game:hover {
  transform: scale(1.1);
}

.mini-game {
  background-color: rgb(32, 32, 39);
  position: relative;
  overflow: hidden;
}
.mini-game__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 72px;
}

.mini-game-content {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: start;
  padding-bottom: 144px;
  position: relative;
  z-index: 5;
}
.mini-game-content__star8 {
  position: absolute;
  top: -100px;
  left: 1020px;
}
.mini-game-content__star9 {
  position: absolute;
  top: -72px;
  left: 1055px;
}
.mini-game-content__star10 {
  position: absolute;
  top: 3180px;
  left: 1065px;
}
.mini-game-content__star11 {
  position: absolute;
  top: 3225px;
  left: 1015px;
}

.mini {
  background-color: rgb(247, 247, 247);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  min-height: 500px;
  overflow: hidden;
}
.mini__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
  padding-top: 48px;
  padding-left: 48px;
}
.mini__subscription {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-top: 24px;
  padding-left: 48px;
}
.mini__btn {
  margin-top: 36px;
  margin-left: 48px;
  width: 247px;
}
.mini__img {
  height: 100%;
}
.mini__back1 {
  order: 1;
}
.mini__back2 {
  order: 2;
}

.footer {
  background-color: rgb(189, 237, 53);
  min-height: 150px;
}
.footer__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 426px);
    padding-right: 32px;
  }
  .games-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    align-items: center;
    margin-top: 72px;
    padding-bottom: 50px;
    position: relative;
    z-index: 5;
  }
  .mini-game-content {
    align-items: center;
  }
  .mini {
    max-width: 85vh;
  }
  .mini__name {
    font-size: 32px;
    line-height: 100%;
  }
  .mini__subscription {
    font-size: 16px;
    line-height: 100%;
  }
  .mini__btn {
    margin: 64px;
    max-width: 285px;
    padding: 16px;
  }
  .mini__back2 {
    order: 1;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  button {
    max-height: 55px;
    padding: 16px 103px;
    font-size: 16px;
    display: block;
    margin: 36px auto 0 auto;
  }
  .top {
    padding-top: 147px;
    padding-bottom: 131px;
  }
  .top__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .top__subtitle {
    display: none;
  }
  .top__bold-word {
    display: none;
  }
  .top__subtitle-mobyle {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .top__bold-word-mobyle {
    display: inline;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
  .top__btn {
    display: block;
    margin-left: 46px;
    margin: 36px auto;
    max-width: 285px;
  }
  .top__star1 {
    position: absolute;
    top: -120px;
    left: 75px;
  }
  .top__star2 {
    position: absolute;
    top: -80px;
    left: 15px;
  }
  .top__star3 {
    display: none;
  }
  .top__star31 {
    display: block;
    position: absolute;
    top: -247px;
    left: 180px;
  }
  .top__star4 {
    display: none;
  }
  .top__star41 {
    display: block;
    position: absolute;
    top: 440px;
    left: 290px;
  }
  .top__star42 {
    display: block;
    position: absolute;
    top: 410px;
    left: 257px;
  }
  .about-games {
    display: none;
  }
  .mini-game__title {
    font-size: 40px;
  }
  .mini-game-content {
    align-items: center;
  }
  .mini-game-content__star8 {
    display: none;
  }
  .mini-game-content__star9 {
    display: none;
  }
  .mini-game-content__star10 {
    display: none;
  }
  .mini-game-content__star11 {
    display: none;
  }
  .mini {
    flex-direction: column-reverse;
    max-width: 343px;
  }
  .mini__name {
    font-size: 32px;
    line-height: 100%;
  }
  .mini__subscription {
    font-size: 16px;
    line-height: 100%;
  }
  .mini__btn {
    margin: 32px auto;
    max-width: 285px;
    padding: 16px;
  }
  .mini__back2 {
    order: 1;
  }
  .footer {
    min-height: 100px;
  }
  .footer__title {
    font-size: 16px;
    line-height: 100%;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */